<html ng-app="ham-app">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.layouts.css">
    <link rel="stylesheet" href="src/app.css">
    <script type='text/javascript' src="src/ham-app.controller.js"></script>
    <script type='text/javascript' src="src/ham-gantt.directive.js"></script>
    <script type='text/javascript' src="src/ham-matrix.directive.js"></script>
    <script type='text/javascript' src="src/ham-bars.directive.js"></script>
</head>
<body ng-controller="HamiltonController as hamCtrl">
    <div layout="row" layout-xs="column" layout-padding>
        <div flex="30" layout-padding class="ham-sidebar">
            <h2>Not Throwing Away My Plot</h2>
            <h5 class="sidebar-child">Hamilton Original Broadway Cast Recording, visualized</h5>
            <md-input-container class="sidebar-child" aria-label="no" flex>
                <label>Choose viz:</label>
                <md-select ng-model="currentViz" aria-label="no" ng-change="drilldown.data = []">
                    <md-option ng-repeat="(key,value) in vizzes" ng-value="key">
                        {{value.label}}<h6 class="dropdown">{{value.headline}}</h6>
                    </md-option>
                </md-select>
            </md-input-container>
            <div ng-show="currentViz=='bars'" layout="column" flex>
                <md-input-container class="sidebar-child">
                    <label>Display Songs:</label>
                    <md-select ng-model="vizzes.bars.seq">
                        <md-option>Simultaneously</md-option>
                        <md-option>Sequentially</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="sidebar-child">
                    <label>Sort Songs:</label>
                    <md-select ng-model="vizzes.bars.sort">
                        <md-option>Show order</md-option>
                        <md-option>Length order</md-option>
                    </md-select>
                <md-input-container>
            </div>
            <div id="ham-drilldown" ng-show="drilldown.data.length > 0">
                <h4 ng-bind="vizzes[currentViz].details"></h4>
                <ul ng-show="drilldown.data != 'NA'">
                    <li ng-repeat="item in drilldown.data" ng-bind="item"></li>
                </ul>
            </div>
        </div>
        
        <div flex="70" layout="column" class="vizContainer">
            <div ng-if="currentViz == 'gantt'">
                <ham-gantt
                    ng-if="vizzes.gantt.data"
                    data="vizzes.gantt.data" 
                    drilldown="drilldown"
                    style="height:100%;width:100%"
                    viz-width="vizWidth"
                    viz-height="vizHeight">
                </ham-gantt>
            </div>
            <div ng-if="currentViz == 'matrix'">
                <ham-matrix
                    ng-if="vizzes.matrix.data"
                    data="vizzes.matrix.data" 
                    drilldown="drilldown" 
                    style="height:100%;width:100%"
                    viz-width="vizWidth"
                    viz-height="vizHeight">
                </ham-matrix>
            </div>
            <div ng-if="currentViz == 'bars'">
                <ham-bars
                    ng-if="vizzes.bars.data"
                    data="vizzes.bars.data"
                    style="height:100%;width:100%"
                    viz-width="vizWidth"
                    viz-height="vizHeight"
                    sort="vizzes.bars.sort"
                    seq="vizzes.bars.seq">
                </ham-bars>
            </div>
        </div>                
    </div>
</body>
</html>